.container{
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box{
    margin-top: 40px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
}
#button{
    margin-top: 10px;
    padding: 2px 70px;
    background-color: rgb(43, 191, 250);
    border-radius: 5px;
}